USE [master]
GO
/****** Object:  Database [TestCandidatos]    Script Date: 13/10/2023 12:02:12 p. m. ******/
CREATE DATABASE [TestCandidatos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestCandidatos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestCandidatos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestCandidatos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestCandidatos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestCandidatos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestCandidatos]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 13/10/2023 12:02:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[candidateExperiences]    Script Date: 13/10/2023 12:02:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[candidateExperiences](
	[IdCandidateExperience] [int] IDENTITY(1,1) NOT NULL,
	[Company] [nvarchar](100) NOT NULL,
	[Job] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](4000) NOT NULL,
	[Salary] [numeric](8, 2) NOT NULL,
	[BeginDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NULL,
	[InsertDate] [datetime2](7) NOT NULL,
	[ModifyDate] [datetime2](7) NULL,
	[IdCandidate] [int] NOT NULL,
 CONSTRAINT [PK_candidateExperiences] PRIMARY KEY CLUSTERED 
(
	[IdCandidateExperience] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[candidates]    Script Date: 13/10/2023 12:02:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[candidates](
	[IdCandidate] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](150) NOT NULL,
	[Birthdate] [datetime2](7) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[InsertDate] [datetime2](7) NOT NULL,
	[ModifyDate] [datetime2](7) NULL,
 CONSTRAINT [PK_candidates] PRIMARY KEY CLUSTERED 
(
	[IdCandidate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [AK_candidates_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_candidateExperiences_IdCandidate]    Script Date: 13/10/2023 12:02:13 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_candidateExperiences_IdCandidate] ON [dbo].[candidateExperiences]
(
	[IdCandidate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[candidateExperiences] ADD  DEFAULT ((0.0)) FOR [Salary]
GO
ALTER TABLE [dbo].[candidateExperiences] ADD  DEFAULT ((0)) FOR [IdCandidate]
GO
ALTER TABLE [dbo].[candidateExperiences]  WITH CHECK ADD  CONSTRAINT [FK_candidateExperiences_candidates_IdCandidate] FOREIGN KEY([IdCandidate])
REFERENCES [dbo].[candidates] ([IdCandidate])
GO
ALTER TABLE [dbo].[candidateExperiences] CHECK CONSTRAINT [FK_candidateExperiences_candidates_IdCandidate]
GO
USE [master]
GO
